<section id="contact">
    <div class="row section-head">
        <div class="ten columns">
            <p class="lead">
                Feel free to contact me for any work or suggestions below
            </p>
            <h4>
                <a href="{{this.resumeData.socialLinks[0].url}}" target="_blank">LinkedIn</a>
            </h4>
            <h4>
                <a href="mailto:{{this.resumeData.socialLinks[3].url}}" target="_blank">Email</a>
            </h4>
        </div>
    </div>
    <div class="row">
        <aside class="eigth columns footer-widgets">
            <div class="widget">

            </div>
        </aside>
    </div>
</section>