<section id="about">
    <div class="row">

        <div class="three columns">

            <img class="profile-pic" src="../../../assets/images/Template-images/profilepic.jpg"
                alt="Profile Picture" />

        </div>

        <div class="nine columns main-col">

            <h2>About Me</h2>
            <p>
                {{
                this.resumeData.aboutme
                }}
            </p>

            <div class="row">

                <div class="columns contact-details">

                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>{{this.resumeData.name}}</span>
                        <br />
                        <span>
                            {{this.resumeData.address}}
                        </span>
                        <br />
                        <a href={{this.resumeData.website}}>Github</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>